<nav>
  <ul class="pagination">
    <li class="page-item" appClass [classNames]="{disabled: currentPages === 0}">
      <a class="page-link" (click)="currentPages=currentPages -1">previous</a>
    </li>
    <ng-container *appTimes="images.length;let i=index">
      <li class="page-item"
      appClass [classNames]="{active : i === currentPages}"

        *ngIf="checkWindowIndex(i)">
        <a class="page-link" (click)="currentPages = i">{{i + 1}}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="{disabled:currentPages === images.length-1}">
      <a class="page-link"  (click)="currentPages=currentPages +1">next</a>
    </li>
  </ul>
</nav>

<div>
<h4  appClass [backgroundColor]=" 'green' ">{{images[currentPages].title}}</h4>
<img [src]="images[currentPages].url">
</div>

<!-- <div [ngSwitch]="currentPages">
  <div *ngSwitchCase="0">
    Current Page is  zero
  </div>
  <div *ngSwitchCase="1">
    Current Page is  one
  </div>
  <div *ngSwitchCase="2">
    Current Page is  two
  </div>
</div> -->

<ul *appTimes="5">
  <li>
    Hi there !
  </li>
</ul>
