<app-divider>
  Placeholder Component
</app-divider>
<app-placeholder></app-placeholder>
<app-divider>
Segment Component
</app-divider>

<app-segment>
  <header>
    <i class="pdf file outline icon">
      No documents are listed for this customer.
    </i>
  </header>

  <button class="ui primary button">Add document</button>
</app-segment>

<app-segment>
  <header>
    <i class="add icon">
      Add A resources.
    </i>
  </header>

  <button class="ui primary button">Click to add</button>
</app-segment>
