
<app-divider>Table Components</app-divider>
<app-table ></app-table>
<app-tabs>
    <a routerLink="./" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:true}">Biography</a>
      <a routerLink="./companies" routerLinkActive="active" class="item" >Companies</a>
      <a routerLink="partners" routerLinkActive="active" class="item" >Partners</a>
</app-tabs>

