
<div class="container">

<h3>Payment Form</h3>

<div class="row">
  <div class="form-group col">
    <label>Payee Name</label>
    <input class="form-control" (input)="onNameChange($event)"  >

  </div>
  <div class="col">
    <label><b>Name</b></label>
    <div>
      {{name | titlecase}}
    </div>

  </div>

</div>

<div class="row">
  <div class="form-group col">
    <label>Payee Date</label>
    <input type="date" class="form-control" (input)="onDateChange($event)"  >

  </div>
  <div class="col">
    <label><b>Payee Date</b></label>
    <div>
      {{date | date : 'MMMM d, y'}}
    </div>

  </div>

</div>

<div class="row">
  <div class="form-group col">
    <label>Payee Amount</label>
    <input class="form-control" (input)="onAmountChange($event)"  >

  </div>
  <div class="col">
    <label><b>Payment Amount</b></label>
    <div>
      {{amount | currency:'KRW'}}
    </div>

  </div>

</div>

<div class="row">
  <div class="form-group col">
    <label>Height</label>
    <input class="form-control" (input)="onHeightChange($event)"  >

  </div>
  <div class="col">
    <label><b>Height</b></label>
    <div>
      {{height | number:'1.1-3'}}
    </div>

  </div>

</div>
<div class="row">
  <div class="form-group col">
    <label>Kilometre</label>
    <input class="form-control" (input)="onMileChange($event)"  >

  </div>
  <div class="col">
    <label><b>kilometre</b></label>
    <div>
      {{mile | convert:'Km' | number:'1.0-2'}}
    </div>

  </div>

</div>

</div>
{{car | json}}
