<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title is-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span [class]="compare(lettre, enteredText[i])" *ngFor="let lettre of randomText.split('') ;let i=index;">{{lettre}}</span>
      </p>
      <div class="field">
        <input class="input" (input)="onInput($event)">
      </div>
      <div *ngIf="randomText === enteredText" class="box has-text-centered">
        <h1 class="title">Success!!</h1>
      </div>

    </div>
  </div>
</div>
