
<div class="ui-container">
  <div class="ui secondary pointing menu">
    <a href="/collections" routerLinkActive="active" class="item" >Collections</a>

    <a href="/elements" routerLinkActive="active" class="item" >Elements</a>

    <a href="/views" routerLinkActive="active" class="item" >Views</a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>


