<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="imageUrl">
    </figure>
  </div>

  <div class="card-content">
    <div class="media-content">
      <p class="title is-4"> {{title}}</p>
      <p class="subtitle is-6"> {{username}}</p>
    </div>
    <div class="content">
      {{content}}
    </div>
  </div>
</div>
