<div class="ui placeholder">
  <div class="image header" *ngIf="header">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div  *appTimes="lines" class="line"></div>

  </div>
</div>
