<div class="ui statistics">
  <div class="statistic" *ngFor="let stat of stats">
    <div class="value">
      {{stat.value}}
    </div>
    <div class="label">
      {{stat.label}}
    </div>
  </div>
</div>
